body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.navbar {
    background-color:rebeccapurple;
}
a.navbar-custom:link {
    color:palegoldenrod !important;
}

a.navbar-custom {
    color:palegoldenrod !important;
}

a.navbar-custom:hover {
    color:gold !important;
}

body {
    background-color: whitesmoke;
}


.portofolio-avatar {
    padding-top: 10px;
    height: 300px;   
}

.portofolio-avatar-left {
    float:left;
    padding-right: 20px;
    
}

.portofolio-avatar-right {
    float:right;
}

.portofolio-title {
    text-align:center;
}

.portofolio-logos  {
    display:inline;
    height: 200px;
}

.portofolio-logos li {
    display:inline-block;
	vertical-align: top;
    float:left;
	width: 50%;
}

.portofolio-logos ul li a {
	color: #FFF;
	text-decoration:none;
	outline: none;
	padding: 15px 0;
	display: block;
	background: rgb(50,153,187);
	transition: all 1s ease;
    text-align:center;
}

.portofolios-logos-container {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.wrapper {
    padding: 10px;
}


/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
