@{
    ViewBag.Title = "Get in touch!";
}
<h2>@ViewBag.Title</h2>

<address>
    3628 Crodyon Mill Way<br />
    Raleigh, NC 27616<br />
    <abbr title="Phone">P:</abbr>
    (919)339-8132
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:johanos@bu.edu">johanos@bu.edu</a><br />
</address>