@{
    ViewBag.Title = "Home Page";
}

<div class="wrapper">
    <div class="portofolio-avatar-left">
        <img class="img-circle portofolio-avatar" src="~/Content/Images/Portofolio PIC.jpg" />
    </div>
    <div class="col-md-4 portofolio-title">
        <h1> Welcome to my Portofolio&trade; </h1>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2 class="portofolio-title">About Me</h2>
        <p>
            My name is Johan Ospina, I'm an Aspiring Engineer who's trying to innovate upon how people use their techonology in their everyday lives.
        </p>
         <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h1 class="portofolio-title"> Links </h1>
        <ul class="portofolios-logos">
            <li>
                <a href="https://github.com/johanos"> <img class="portofolio-logos" src="~/Content/Images/Octocat.png" /> </a>
            </li>
            <li>
                <a href="https://linkedin.com/in/johanos"><img class="portofolio-logos" src="~/Content/Images/LinkedIn.png" /></a>
            </li>
        </ul>
    </div>
</div>