.portfolio-about-content {
    text-align: center;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow: scroll;
    display: flex;
    -webkit-overflow-scrolling: touch;
}

.portfolio-about-content-profile-pic-wrapper {
    display: flex;
    flex-flow: column nowrap;
    margin: 0px 40px;
}

.portfolio-about-content-profile-pic {
    height: 80%;
    transition: height 5s ease-out, width 5s ease-out;
    max-height: 200px;
    border-radius: 10px;
    object-fit: cover;
}

.portfolio-about-content-bio {
    padding: 20px;
    font-size: 1.375rem;
    background-color: #ffffff30;
    border-radius: 10px;
    margin: 0px 40px;
}

.portfolio-about-content-resume-button {
    background-color: #ffffff30;
    margin: 10px auto 0px auto;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

.portfolio-about-content-resume-button:hover,
.portfolio-about-content-resume-button:focus {
    background-color: #ddd;
    text-decoration: none;
    cursor: pointer;
}

@media screen and (max-width: 700px) {
    .portfolio-about-content {
        flex-flow: column nowrap;
        justify-content: flex-start;
    }

    .portfolio-about-content-profile-pic-wrapper {
        margin: 20px 40px;
    }

    .portfolio-about-content-bio {
        padding: 20px 40px;
    }
}

@media only screen and (min-width: 1200px) {
    .portfolio-about-content-profile-pic {
        max-height: 360px;
    }

    .portfolio-about-content-bio {
        font-size: 1.575rem;
    }
}

@media screen and (max-width: 412px) {
    .portfolio-about-content-wrapper {
        overflow: scroll;
    }

    .portfolio-about-content-resume-button {
        padding: 10px;
    }

    .portfolio-about-content-profile-pic-wrapper {
        height: auto;
    }

    .portfolio-about-content-bio {
        margin: 0 40px;
        font-size: 1.375rem;
    }

    .portfolio-about-content-bio {
        padding: 0px 0px 20px 0px;
    }
}
