.portfolio-body {
    width: 100%;
    display: flex;
    flex: 1;
    overflow: scroll;
    z-index: 1;
}

::-webkit-scrollbar { 
    display: none; 
}

html {
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
